.banner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4;
    border-radius: 25px;
    height: 223px;
}

.img-banner {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    filter: brightness(0.7);
}

.banner h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 48px;
    color: white;
    top: 35%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .banner {
        height: 190px;
    }

    .banner h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {

    .banner {
        height: 160px;
    }

    .img-banner {
        border-radius: 10px;
    }

    .banner h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 555px) {
    .banner {
        height: 111px;
    }

    .img-banner {
        border-radius: 10px;
    }

    .banner h1 {
        width: 217px;
        font-size: 24px;
        left: 15px;
        line-height: 100%;
        margin-top: -10px;

    }
}