.banner {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.banner-home {
    width: 92%;
    height: 190px;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(0.7);
}

.banner-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: white;
    position: absolute;
    padding-top: 20px;
}
