footer {
    background: black;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    padding: 60px 0 10px 0;
}

footer img {
    width: 12%;
    height: 50px;
}

footer p {
    font-weight: 500;
    font-size: 24px;
    padding-top: 15px;
}