.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    background-color: #F7F7F7;
    border-radius: 25px;
    margin: 50px 40px 50px 40px;
    padding: 40px 30px;
}