header {
    margin-bottom: 50px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

header nav .logo-kasa img {
    height: 80px;
    margin-left: -6px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul a {
    text-decoration: none;
}

header nav ul li {
    font-size: 24px;
    font-weight: 500;
    color: #ff6060;
    margin-left: 50px;
}

header nav ul a.nav-active {
    text-decoration-line: underline;
    color: #ff6060;
}