.housing-host {
    display: flex;
    align-items: center;
}

.housing-host h3 {
    width: 93px;
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    color: #FF6060;
    margin: 0 10px;
}

.housing-host img {
    width: 64px;
    background: #C4C4C4;
    border-radius: 50px;
}

@media screen and (min-width: 320px) and (max-width: 554px) {
    .housing-host h3 {
        width: 15vw;
        font-size: 12px;
    }

    .housing-host img {
        width: 32px;
    }
}