.housing-title {
    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
    margin: 0;
}

.housing-location {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .housing-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 555px) {
    .housing-title {
        font-size: 18px;
        line-height: 26px;
    }

    .housing-location {
        font-size: 14px;
        line-height: 20px;
    }
}