.housing-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.housing-description .housing-title-location {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0;
}

.housing-description .housing-tag {
    display: flex;
    margin: 20px 0 5px;
}

.housing-description .housing-host-rate {
    display: flex;
    flex-direction: column;
}

.housing-description .housing-host-rate .host-housing {
    margin: 0 0 15px;
}

.housing-description .housing-host-rate .housing-rate {
    display: flex;
    justify-content: flex-end;
}