.housing-description {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0;
}

.housing-description .housing-title-location {
    display: flex;
    flex-direction: column;
}

.housing-description .housing-tag {
    display: flex;
    margin: 20px 0 5px;
}

.housing-description .housing-host-rate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.housing-description .housing-host-rate .host-housing {
    margin: 0 0 15px;
}

.housing-description .housing-host-rate .housing-rate {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}

.housing-collapse {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.collapse-description {
    width: 48%;
}

.collapse-equipments {
    width: 48%;
    margin: 0;
    padding: 0;
}

.list-equipments {
    list-style: none;
}

@media screen and (max-width: 768px) {
    .housing-description {
        flex-direction: column;
        margin-top: 5px;
    }

    .housing-description .housing-host-rate .housing-rate {
        font-size: 14px;
    }

    .housing-description .housing-host-rate {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .housing-collapse {
        margin-top: -15px;
    }
}

@media screen and (min-width: 320px) and (max-width: 555px) {
    .housing-description {
        flex-direction: column;
        margin-top: 5px;
    }

    .housing-description .housing-tag {
        margin: 10px 0 5px;
    }

    .housing-description .housing-host-rate {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .housing-description .housing-host-rate .housing-rate {
        font-size: 12px;
    }

    .housing-collapse {
        flex-direction: column;
        margin-top: -15px;
    }

    .collapse-description {
        width: 100%;
    }

    .collapse-equipments {
        width: 100%;
    }
}