.housing-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.housing-description .housing-title-location {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0;
}

.housing-description .housing-tag {
    display: flex;
    margin: 20px 0 5px;
}

.housing-description .housing-host-rate {
    display: flex;
    flex-direction: column;
}

.housing-description .housing-host-rate .host-housing {
    margin: 0 0 15px;
}

.housing-description .housing-host-rate .housing-rate {
    display: flex;
    justify-content: flex-end;
}

.housing-collapse {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.collapse-description {
    width: 48%;
}

.collapse-equipments {
    width: 48%;
    margin: 0;
    padding: 0;
}

.list-equipments {
    list-style: none;
}